#nav {
    height: 100%;
}

#bongo_cat img {
    width: 100%;
    height: auto;
    max-width: 200px;
    /* margin: auto; */
}


/* ------------------- tabela ------------------------ */
table th {
    width: 16.6667%;
    text-align: center;
    background-color: var(--bs-primary) !important;
    color: white;
    border-color: white;
}

tr th:last-child {
    border-right: 0px;
}

tr th:first-child {
    border-bottom: 1px;
}

tbody {
    text-align: center;
}

tbody th {
    border-top: 1px solid white !important;
}

#CI1010 {
    background-color: var(--bs-secondary) !important;
    color: white;
}

#CI1031 {
    background-color: var(--bs-info) !important;
    color: white;
}

#CI1221 {
    background-color: var(--bs-warning) !important;
    color: white;
}
/* ------------------------------ menu lateral ------------------------------------- */
/* por algum motivo o fundo escuro NÃO usa a cor escura de fundo por padrão */
.bg-dark {
    background-color: var(--bs-dark) !important;
    color: white !important;
}

.bg-dark h1 {
    color: white;
}

.bg-dark h2 {
    color: white;
}

.bg-dark h3 {
    color: white;
}

.center-pills {
    display: inline-block;
}