#nav {
    height: 100%;
}

#bongo_cat img {
    width: 100%;
    height: auto;
    max-width: 200px;
    /* margin: auto; */
}


/* ------------------------------ menu lateral ------------------------------------- */
/* por algum motivo o fundo escuro NÃO usa a cor escura de fundo por padrão */
.bg-dark {
    background-color: var(--bs-dark) !important;
    color: white !important;
}

.bg-dark h1 {
    color: white;
}

.bg-dark h2 {
    color: white;
}

.bg-dark h3 {
    color: white;
}

.center-pills {
    display: inline-block;
}